<div class="flex-1 bg-white p-5 mb-5 rounded-lg shadow-md transition-all duration-300">
    <div class="container mx-auto px-4 py-10">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

            <div class="lg:col-span-1">
                <p-skeleton class="w-full h-64 rounded-lg"></p-skeleton>
            </div>

            <div class="lg:col-span-2 flex flex-col gap-3">
                <p-skeleton width="60%" class="h-8 mb-2"></p-skeleton>
                <p-skeleton width="40%" class="h-5 mb-2"></p-skeleton>
                <div class="flex items-center gap-1">
                    <p-skeleton width="120px" height="20px"></p-skeleton>
                </div>
                <p-skeleton width="30%" class="h-6 mt-2"></p-skeleton>
            </div>

        </div>

        <div class="mt-4">
            <p-skeleton width="100%" class="h-4 mb-2"></p-skeleton>
            <p-skeleton width="100%" class="h-4 mb-2"></p-skeleton>
            <p-skeleton width="80%" class="h-4"></p-skeleton>
        </div>
    </div>
</div>