<div class="flex-1 bg-white p-5 mb-5 rounded-lg shadow-md animate-pulse">
    <div class="lg:flex items-center gap-4 mt-2 text-sm text-gray-600">

        <div class="w-32 h-32 bg-gray-200 rounded-full flex-shrink-0">
            <p-skeleton shape="circle" class="w-full h-full"></p-skeleton>
        </div>

        <div class="flex-1 flex flex-col gap-2">
            <p-skeleton width="40%" height="2rem"></p-skeleton>
            <p-skeleton width="25%" height="1.5rem"></p-skeleton>
        </div>
    </div>

    <div class="lg:flex items-center gap-4 mt-4 text-sm text-gray-600">
        <p-skeleton width="48%" height="1.5rem"></p-skeleton>
        <p-skeleton width="32%" height="1.5rem"></p-skeleton>
    </div>

    <p class="flex gap-3 items-center mt-3">
        <p-skeleton width="40%" height="1.5rem"></p-skeleton>
    </p>
</div>

<div class="bg-white shadow-md rounded-xl p-6 mb-5 animate-pulse">
    <p-skeleton width="30%" height="1.5rem" class="mb-4"></p-skeleton>
    <div class="grid grid-cols-2 gap-y-4 gap-x-6">
        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
        <p-skeleton width="60%" height="1.5rem"></p-skeleton>
        <p-skeleton width="70%" height="1.5rem"></p-skeleton>
        <p-skeleton width="50%" height="1.5rem"></p-skeleton>
        <p-skeleton width="40%" height="1.5rem"></p-skeleton>
        <p-skeleton width="40%" height="1.5rem"></p-skeleton>
    </div>
</div>

<div class="bg-white shadow-md rounded-lg p-6 animate-pulse">
    <p-skeleton width="30%" height="1.5rem" class="mb-4"></p-skeleton>
    <div class="grid grid-cols-2 gap-y-4 gap-x-6">
        <p-skeleton width="60%" height="1.5rem"></p-skeleton>
        <p-skeleton width="80%" height="1.5rem"></p-skeleton>
        <p-skeleton width="40%" height="1.5rem"></p-skeleton>
    </div>
</div>